if SHIELD_SWEEP_PRO_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sweep Pro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SWEEP_PRO_LEFT || SHIELD_SWEEP_PRO_RIGHT

config ZMK_SPLIT
    default y

endif